.cadastroContainer {
    margin: 0 auto;
    width: 70%;
    padding-top: 110px;
}

.inputNome{
    width: fit-content;
    margin:30px auto 0 auto;
}

.inputSobrenome{
    width: fit-content;
    margin:0 auto;
}

.botaoSubmit{
   display: block;
   margin:30px auto 0 auto;
}

.imagemCadastro{
    width: 150px;
    height: 150px;
    display:block;
    margin: 0 auto;
}

.inputFoto{
    font-size: 10px;
    display: block;
    margin: 0 auto;
}