.cadastroContainer {
    margin: 0 auto;
    width: 70%;
    padding-top: 130px;
}

.inputCadastros{
    margin-top: 40px;
}

.botaoSubmit{
    margin-top: 10px;
    margin-bottom: 40px;
}

.imagemCadastro{
    width: 150px;
    height: 150px;
    display:block;
    margin: 0 auto;
}

.inputFoto{
    font-size: 10px;
    display: block;
    margin: 0 auto;
}