.cadastroContainer {
    margin: 0 auto;
    width: 80%;
    padding-top: 130px;
}

.inputCadastros{
    margin-top: 40px;
}

.botaoSubmit{
    margin-top: 10px;
    margin-bottom: 40px;
}

.imagemCadastro{
    border: 2px solid black;
    display:block;
    margin: 0 auto;
}

.inputFoto{
    display: block;
    margin: 0 auto;
}