html,
body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

ul{
    list-style: none;
}

hr{
    border-color: black;
}

.listItem{
    position: relative;
    width: 100%;
}

.listItem span{
    text-align: center;
    display: block;
    position: relative;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

.subtitle{
    text-align: center;
    margin-bottom: 70px;
}

.menu{
    margin: 10px auto;
    display:flex;
    position: relative;
    width: 100%;
    max-width: 500px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.button{
    width: 100%;
    border: 1px solid orange;
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
}

.agenda{
    padding: 0;
    width: fit-content;
    display: block;
}

.periodos{
    color: #fff;
    background: orange;
    border-radius: 10px;
    display:flex;
    padding: 5px;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid orange;
}

.horarios{
    border-radius: 10px;
    cursor: pointer;
    width: 111.43px;
    padding: 5px;
    margin: 10px auto;
    display: inline-block;
    border: 1px solid orange;
}

.horarios:hover{
    background:orange;
}

.linhaHorarios{
    text-align: center;
    padding: 0;
    width: 60%;
    margin: 0 auto;
}