html,
body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

#margin{
    margin-top: 20px;
}

.list{
    display: flex;
    list-style: none;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0;
}

.listItem{
    position: relative;
    width: 100%;
}

.listItem.active::before{
    content: '';
    position: absolute;
    background: #e9630a;
    width: 100%;
    max-width: 55px;
    height: 90px;
    top: -50px;
    border-radius: 36px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 6px 5px 8px rgb(85 119 102 / 31%);
}

.listItem span{
    text-align: center;
    display: block;
    position: relative;
    z-index: 2;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

.subtitle{
    text-align: center;
    margin-bottom: 70px;
}

.menu{
    display:flex;
    position: relative;
    width: 100%;
    max-width: 500px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu li{
    display:block;
    text-align: center;
    position: relative;
    float: left;
}

.periodo{
    text-align: center;
    position: relative;
    display: block;
    color:#fff;
    text-decoration: none;
    border: 1px solid #e9630a;
    border-radius: 10px;
    padding: 3px;
    background: #e9630a;
    cursor: default;
}

.menu li ul{
    top: 25px;
    left: -40px;
    position:absolute;
    list-style: none;
    display: none;
}

.menu li:hover ul{
    display:block;
}

span.hour{
    cursor: pointer;
    background: #fff;
    justify-content: center;
    display: block;
    border: 1px solid #e9630a;
    border-radius: 10px;
    padding: 2px;
}

span.hour:hover{
    background:#e9630a;
    color:#fff
}