html,
body {
    min-width: 375px;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    background: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

* {
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

h1{
    padding: 5px;
    margin-top: 10px;
    color: #1A202C;
    font-size: 170%;
    text-align: center;
}

.imagemLogo{
    width: 20%;
}

.imagemCapa{
    margin-top: 80px;
    width: 80%;
}

.containerMenu{
    width: 100%;
    position: fixed;
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(1, 85, 211), rgb(216, 216, 216));
    height: 80px;
    box-shadow: 0 0 20px 3px;
}

.sidebarItem{
    display: flex;
    align-items: center;
    background-color: #1A202C;
    font-size: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 15px 20px;
}

.sidebarIcon{
    margin: 0 20px;
}

.menuIcon{
    color: white;
    width: 30px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.calendarContainer{
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
    min-width: 375px;
    width: 70%;
}

#layout {
    margin: auto;
    width: fit-content;
}

.botaoSemana {
    margin: 5px 10px;
    width: 150px;
    background: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #1A202C;
    text-align: center;
}

.botaoSemana:hover {
    background-image: linear-gradient(to bottom right, rgb(1, 85, 211), rgb(216, 216, 216));
}

.menu {
    margin: 0px auto;
    display: flex;
    width: 98%;
    list-style: none;
    padding: 0;
}

.listItem {
    justify-content: space-between;
    margin: 20px auto;
    width: 12%;
}

.button {
    line-height: 30px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #1A202C;
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
}

.button:hover {
    background-image: linear-gradient(to bottom right, rgb(1, 85, 211), rgb(216, 216, 216));
    color: black;
}

.active {
    background-image: linear-gradient(to bottom right, rgb(1, 85, 211), rgb(216, 216, 216));
    color: black;
}

.agenda {
    width: 90%;
    margin: 50px auto;
    border: 2px solid #1A202C;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    display: block;
}

.agenda li {
    height: fit-content;
    display: inline-block;
    width: 33.33%;
}

.divisoriaRight {
    border-right: 2px solid #1A202C;
}

.divisoriaLeft {
    border-left: 2px solid #1A202C;
}

.periodos {
    justify-content: center;
    color: black;
    background-image: linear-gradient(to bottom right, rgb(1, 85, 211), rgb(216, 216, 216));
    border-radius: 10px;
    display: flex;
    padding: 5px;
    margin: 10px auto;
    width: 40%;
}

.horarios:hover {
    background-image: linear-gradient(to bottom right, rgb(1, 85, 211), rgb(216, 216, 216));
    color: black;
}

.linhaHorarios {
    padding: 10px;
    margin: 0 auto;
}

.horarios {
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border: 1px solid #1A202C;
}

.horariosActive {
    background-image: linear-gradient(to bottom right, rgb(1, 85, 211), rgb(216, 216, 216));
    border: 1px solid #1A202C;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}

@media(max-width: 650px) {
    * {
        font-size: 14px;
    }
}

@media(max-width: 520px) {
    * {
        font-size: 12px;
    }
}

@media(max-width: 465px) {
    .agenda {
        border: none;
    }

    .agenda li {
        position: static;
    }

    .agenda li ul {
        width: 100%;
        position: absolute;
        margin: 10 auto;
        left: 0px;
        min-width: 375px;
        display: none;
    }

    .agenda li:hover ul,
    .agenda li.over ul {
        display: block;
    }

    .periodos {
        width: fit-content;
    }
}